Chapter 05/chapter5-master/app/flows/flow3.json
[{"id":"21308e40.a67852","type":"tab","label":"Sense hat","disabled":false,"info":""},{"id":"cec30840.248aa8","type":"tab","label":"Global context","disabled":false,"info":""},{"id":"f00a487a.95faf8","type":"tab","label":"Basic statistics","disabled":false,"info":""},{"id":"f8d118e1.ddd038","type":"tab","label":"Store aggregated data","disabled":false,"info":""},{"id":"c77ab3af.0f028","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"fee98c91.8a287","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1071f503.257ceb","type":"ui_tab","z":"","name":"Sense Hat","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fde4866f.851ff8","type":"ui_group","z":"","name":"Temperature","tab":"1071f503.257ceb","order":2,"disp":true,"width":"6","collapse":false},{"id":"9a4e895b.be7378","type":"ui_group","z":"","name":"Humidity","tab":"1071f503.257ceb","order":3,"disp":true,"width":"6","collapse":false},{"id":"9492d025.a8517","type":"ui_group","z":"","name":"Pressure","tab":"1071f503.257ceb","order":4,"disp":true,"width":"6","collapse":false},{"id":"f315fd49.2b923","type":"ui_group","z":"","name":"Statistics","tab":"1071f503.257ceb","order":1,"disp":true,"width":"6","collapse":false},{"id":"42a92da.f061dd4","type":"ui_spacer","name":"spacer","group":"f315fd49.2b923","order":4,"width":1,"height":1},{"id":"f3aaca43.eb9518","type":"ui_group","z":"","name":"Temperature Graph","tab":"cacb2438.d13638","order":2,"disp":true,"width":"21","collapse":false},{"id":"cacb2438.d13638","type":"ui_tab","z":"","name":"Time series","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9023e951.d83b58","type":"json-db-collection","z":"","name":"temperature","collection":"instant-temperature","save":true},{"id":"ccc0b64f.610828","type":"influxdb","z":"c77ab3af.0f028","hostname":"127.0.0.1","port":"8086","database":"environment","name":"Environment Database","usetls":false,"tls":""},{"id":"e221cd11.84b39","type":"influxdb","z":"f8d118e1.ddd038","hostname":"127.0.0.1","port":"8086","database":"environment","name":"Environment Database","usetls":false,"tls":""},{"id":"45b95ef7.9a4a6","type":"rpi-sensehatsim in","z":"21308e40.a67852","name":"","motion":false,"env":true,"stick":true,"x":300,"y":460,"wires":[["98eaba5e.148b28","feb8749b.80c978","bbf2917c.a79ff","c2c0bf2b.00e5a","52da14c9.8fba5c"]]},{"id":"e78d86da.079de8","type":"rpi-sensehatsim out","z":"21308e40.a67852","name":"","x":580,"y":80,"wires":[]},{"id":"f0ef2ea5.c6602","type":"debug","z":"21308e40.a67852","name":"Environment data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":180,"wires":[]},{"id":"2928087d.6c2f08","type":"inject","z":"21308e40.a67852","name":"","topic":"","payload":"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":80,"wires":[["e78d86da.079de8"]]},{"id":"4d948b29.59eda4","type":"comment","z":"21308e40.a67852","name":"Temperature, humidity, pressure","info":"","x":270,"y":420,"wires":[]},{"id":"31b8ccaa.d74294","type":"comment","z":"21308e40.a67852","name":"LED matrix","info":"","x":220,"y":40,"wires":[]},{"id":"30f47a9a.7f1186","type":"ui_chart","z":"21308e40.a67852","name":"Temperature","group":"fde4866f.851ff8","order":1,"width":0,"height":0,"label":"ºC","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":280,"wires":[[]]},{"id":"86c8210f.8267","type":"ui_gauge","z":"21308e40.a67852","name":"Temperature","group":"fde4866f.851ff8","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":890,"y":320,"wires":[]},{"id":"98eaba5e.148b28","type":"change","z":"21308e40.a67852","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["30f47a9a.7f1186","86c8210f.8267","d903566d.4c0a28"]]},{"id":"feb8749b.80c978","type":"switch","z":"21308e40.a67852","name":"event types","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":200,"wires":[["f0ef2ea5.c6602"],["a9d46f08.0458b"]]},{"id":"a9d46f08.0458b","type":"debug","z":"21308e40.a67852","name":"Joystick data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":220,"wires":[]},{"id":"870eaba1.3e2898","type":"ui_chart","z":"21308e40.a67852","name":"Humidity","group":"9a4e895b.be7378","order":1,"width":0,"height":0,"label":"%","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":440,"wires":[[]]},{"id":"82cdf158.ab777","type":"ui_gauge","z":"21308e40.a67852","name":"Humidity","group":"9a4e895b.be7378","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":880,"y":480,"wires":[]},{"id":"bbf2917c.a79ff","type":"change","z":"21308e40.a67852","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["870eaba1.3e2898","82cdf158.ab777","456bf51c.f047ac","b2eab8f1.a74838"]]},{"id":"3ea5a00f.f7139","type":"ui_chart","z":"21308e40.a67852","name":"","group":"9492d025.a8517","order":1,"width":0,"height":0,"label":"mbar","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":620,"wires":[[]]},{"id":"6904e7d9.3e2328","type":"ui_gauge","z":"21308e40.a67852","name":"Pressure","group":"9492d025.a8517","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"mbar","format":"{{value}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":880,"y":660,"wires":[]},{"id":"c2c0bf2b.00e5a","type":"change","z":"21308e40.a67852","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["3ea5a00f.f7139","6904e7d9.3e2328","aafa5256.96045","f0b074b1.1831d8"]]},{"id":"4f64d5c9.f24cfc","type":"pusher out","z":"21308e40.a67852","name":"","channel":"data_env","cluster":"eu","eventname":"env","x":570,"y":780,"wires":[]},{"id":"66aa35d6.b589ac","type":"debug","z":"21308e40.a67852","name":"messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":820,"wires":[]},{"id":"bb270b26.18d878","type":"pusher in","z":"f00a487a.95faf8","name":"","channel":"data_env","cluster":"eu","eventname":"env","x":370,"y":220,"wires":[["2bc107be.598d38","ff6990d1.d87a8","3c167705.047788"]]},{"id":"fc0d1a5.8b429e8","type":"debug","z":"f00a487a.95faf8","name":"Last 10 samples","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":120,"wires":[]},{"id":"c4b198e0.e77e88","type":"debug","z":"21308e40.a67852","name":"temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":380,"wires":[]},{"id":"456bf51c.f047ac","type":"debug","z":"21308e40.a67852","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":520,"wires":[]},{"id":"aafa5256.96045","type":"debug","z":"21308e40.a67852","name":"pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":700,"wires":[]},{"id":"d903566d.4c0a28","type":"function","z":"21308e40.a67852","name":"save temperature","func":"global.set('temperature' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["c4b198e0.e77e88"]]},{"id":"134492c2.6819cd","type":"debug","z":"21308e40.a67852","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":560,"wires":[]},{"id":"b2eab8f1.a74838","type":"function","z":"21308e40.a67852","name":"save humidity","func":"global.set('humidity' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":560,"wires":[["134492c2.6819cd"]]},{"id":"1adee977.c64887","type":"debug","z":"21308e40.a67852","name":"pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":740,"wires":[]},{"id":"f0b074b1.1831d8","type":"function","z":"21308e40.a67852","name":"save pressure","func":"global.set('pressure' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":740,"wires":[["1adee977.c64887"]]},{"id":"1ab1f7e2.a38c58","type":"function","z":"cec30840.248aa8","name":"get temperature","func":"msg.payload = global.get('temperature')\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["f8aa3305.90eb8"]]},{"id":"60df3316.5cab4c","type":"inject","z":"cec30840.248aa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":200,"wires":[["1ab1f7e2.a38c58"]]},{"id":"f8aa3305.90eb8","type":"debug","z":"cec30840.248aa8","name":"temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":200,"wires":[]},{"id":"fbac00c7.b6eda","type":"debug","z":"cec30840.248aa8","name":"humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":280,"wires":[]},{"id":"cf5a6b98.e95958","type":"debug","z":"cec30840.248aa8","name":"pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":360,"wires":[]},{"id":"60356caa.260604","type":"function","z":"cec30840.248aa8","name":"get humidity","func":"msg.payload = global.get('humidity')\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["fbac00c7.b6eda"]]},{"id":"d5409ef4.8a5c3","type":"inject","z":"cec30840.248aa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":280,"wires":[["60356caa.260604"]]},{"id":"92f09c4f.77789","type":"function","z":"cec30840.248aa8","name":"get pressure","func":"msg.payload = global.get('pressure')\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["cf5a6b98.e95958"]]},{"id":"a45bd9c8.339528","type":"inject","z":"cec30840.248aa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":360,"wires":[["92f09c4f.77789"]]},{"id":"52da14c9.8fba5c","type":"throttle","z":"21308e40.a67852","name":"","throttleType":"time","timeLimit":"2","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":410,"y":780,"wires":[["66aa35d6.b589ac","4f64d5c9.f24cfc","46459463.c5462c"]]},{"id":"2bc107be.598d38","type":"buffer-array","z":"f00a487a.95faf8","name":"","bufferLen":"10","startWhenFilled":false,"x":570,"y":220,"wires":[["fc0d1a5.8b429e8","95bc4888.1dc8d8","4992488e.00f708"]]},{"id":"ff6990d1.d87a8","type":"interval-length","z":"f00a487a.95faf8","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":420,"y":80,"wires":[["a0c595ab.fa9128"],[]]},{"id":"95bc4888.1dc8d8","type":"debug","z":"f00a487a.95faf8","name":"msg.payload[9] -> MOST RECENT","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[9].temperature","targetType":"msg","x":980,"y":160,"wires":[]},{"id":"4992488e.00f708","type":"debug","z":"f00a487a.95faf8","name":"msg.payload[0] -> OLDEST","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].temperature","targetType":"msg","x":960,"y":220,"wires":[]},{"id":"a0c595ab.fa9128","type":"debug","z":"f00a487a.95faf8","name":"Last INTERVAL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":40,"wires":[]},{"id":"16f621c6.5c6aee","type":"function","z":"f00a487a.95faf8","name":"standardDeviation","func":"msg.topic=\"standardDeviation\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["af35f1da.61f24"]]},{"id":"12c13b1e.ff04b5","type":"function","z":"f00a487a.95faf8","name":"mean","func":"msg.topic=\"mean\"\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["dee2f3d8.d5e29"]]},{"id":"dee2f3d8.d5e29","type":"statistics","z":"f00a487a.95faf8","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":630,"y":560,"wires":[["616f042b.87437c","d3039eec.02d7d","75dee813.4e1318"]]},{"id":"616f042b.87437c","type":"debug","z":"f00a487a.95faf8","name":"AVERAGE temperature (last 10)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":620,"wires":[]},{"id":"3c167705.047788","type":"change","z":"f00a487a.95faf8","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["da94596a.0d2188","f39c6034.25feb","dd4dd871.0552a8","1356e68.0112c1a"]]},{"id":"da94596a.0d2188","type":"buffer-array","z":"f00a487a.95faf8","name":"","bufferLen":"10","startWhenFilled":false,"x":290,"y":560,"wires":[["12c13b1e.ff04b5","16f621c6.5c6aee"]]},{"id":"6a02ae7b.f102","type":"debug","z":"f00a487a.95faf8","name":"STANDARD DEV temperature (last 10)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":680,"wires":[]},{"id":"af35f1da.61f24","type":"statistics","z":"f00a487a.95faf8","name":"statistics over 10","dataSetSize":"10","inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"","parameterFieldType":"msg","stripFunction":false,"resultOnly":true,"x":610,"y":620,"wires":[["6a02ae7b.f102","47ac34bd.0f964c"]]},{"id":"46459463.c5462c","type":"interval-length","z":"21308e40.a67852","format":"mills","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","reset":false,"startup":false,"msgField":"payload","timestampField":"timestamp","repeatTimeout":false,"name":"","x":560,"y":880,"wires":[["dfd02219.fe3b6"],[]]},{"id":"dfd02219.fe3b6","type":"debug","z":"21308e40.a67852","name":"Intervals","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":880,"wires":[]},{"id":"62adcdca.2488b4","type":"ui_chart","z":"f00a487a.95faf8","name":"Temperature","group":"f3aaca43.eb9518","order":6,"width":0,"height":0,"label":"{{msg.topic}}","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":true,"ymin":"0","ymax":"25","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":440,"wires":[[]]},{"id":"f39c6034.25feb","type":"function","z":"f00a487a.95faf8","name":"Instant temperature","func":"// msg output for graphing instant data\nmsg1 = {payload: msg.payload, topic: 'Instant read'};\nreturn [msg1];","outputs":1,"noerr":0,"x":990,"y":400,"wires":[["62adcdca.2488b4"]]},{"id":"d3039eec.02d7d","type":"function","z":"f00a487a.95faf8","name":"Temperature mean","func":"// msg output for graphing average data\nmsg2 = {payload: msg.payload, topic: 'Average over last 10 reads'};\nreturn [msg2];","outputs":1,"noerr":0,"x":990,"y":440,"wires":[["62adcdca.2488b4"]]},{"id":"47ac34bd.0f964c","type":"function","z":"f00a487a.95faf8","name":"Temperature stdDev","func":"// msg output for graphing standard deviation data\nmsg3 = {payload: msg.payload, topic: 'Standard deviation over last 10 reads'};\nreturn [msg3];","outputs":1,"noerr":0,"x":980,"y":480,"wires":[["62adcdca.2488b4"]]},{"id":"ba83d3a4.23ad","type":"DataIn","z":"f8d118e1.ddd038","collection":"9023e951.d83b58","name":"Instant Temperature","update":true,"path":"/temperature","x":960,"y":100,"wires":[]},{"id":"1356e68.0112c1a","type":"link out","z":"f00a487a.95faf8","name":"Store temperature","links":["6c7005d6.b64d5c"],"x":1155,"y":340,"wires":[]},{"id":"6c7005d6.b64d5c","type":"link in","z":"f8d118e1.ddd038","name":"IN-Store temperature","links":["1356e68.0112c1a"],"x":515,"y":240,"wires":[["a1f41c67.d1372"]]},{"id":"a1f41c67.d1372","type":"throttle","z":"f8d118e1.ddd038","name":"","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":710,"y":240,"wires":[["7e9cb44b.d40adc"]]},{"id":"49423bdc.9322e4","type":"debug","z":"f8d118e1.ddd038","name":"Raw data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":300,"wires":[]},{"id":"3c8fc4ef.4c68bc","type":"function","z":"f8d118e1.ddd038","name":"Format and add timestamp","func":"const timestamp = new Date();\n\nmsg.payload = [{\n    timestamp:   timestamp.toString(),\n    temperature: msg.payload\n    }];\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["ba83d3a4.23ad"]]},{"id":"ae93d4ee.dd9938","type":"influxdb in","z":"c77ab3af.0f028","influxdb":"ccc0b64f.610828","name":"'temperatures' SELECT query","query":"SELECT * FROM temperatures","rawOutput":false,"precision":"","retentionPolicy":"","x":810,"y":80,"wires":[["eb1edf63.af0d"]]},{"id":"f440332c.3280e","type":"inject","z":"c77ab3af.0f028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":580,"y":80,"wires":[["ae93d4ee.dd9938","106a41a9.51f01e"]]},{"id":"eb1edf63.af0d","type":"debug","z":"c77ab3af.0f028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":80,"wires":[]},{"id":"601de009.89e4f","type":"inject","z":"c77ab3af.0f028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":580,"y":160,"wires":[["a98b2eea.ffd2e"]]},{"id":"a98b2eea.ffd2e","type":"function","z":"c77ab3af.0f028","name":"SELECT points in the last 60s","func":"//msg.query=\"SELECT * FROM temperatures\";\n//msg.query=\"SELECT last(temperature),time,location,room FROM sense_hat\";\n//msg.query=\"SELECT * FROM sense_hat WHERE time > now() - 1h limit 4\";\n//msg.query=\"SELECT * FROM sense_hat WHERE time > now() - 1m\";\nmsg.query=\"SELECT * FROM sense_hat WHERE time > now() - 60s\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["792e2161.f7e8a"]]},{"id":"792e2161.f7e8a","type":"influxdb in","z":"c77ab3af.0f028","influxdb":"ccc0b64f.610828","name":"'sense_hat' SELECT query II","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1080,"y":160,"wires":[["c1fe750c.3590b8","2e9ee36a.faaa9c"]]},{"id":"f44bb649.e95758","type":"debug","z":"c77ab3af.0f028","name":"Last point","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1460,"y":160,"wires":[]},{"id":"97244d9d.2e163","type":"comment","z":"c77ab3af.0f028","name":"InfluxDB READ query inside the node: Option 1","info":"","x":280,"y":80,"wires":[]},{"id":"693aa122.50776","type":"comment","z":"c77ab3af.0f028","name":"InfluxDB READ query created externally: Option 2","info":"","x":260,"y":160,"wires":[]},{"id":"cf88dbfd.86cff8","type":"inject","z":"c77ab3af.0f028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":580,"y":340,"wires":[["30c946d1.d59d7a"]]},{"id":"851140d7.d440f","type":"comment","z":"c77ab3af.0f028","name":"InfluxDB WRITE query","info":"","x":360,"y":340,"wires":[]},{"id":"30c946d1.d59d7a","type":"function","z":"c77ab3af.0f028","name":"WRITE data point","func":"msg.payload = {location:\"HOME\", room: \"KITCHEN\",instant: 33,average: 32.99 }\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":340,"wires":[["78cf4bc3.7bbfc4"]]},{"id":"78cf4bc3.7bbfc4","type":"influxdb out","z":"c77ab3af.0f028","influxdb":"ccc0b64f.610828","name":"","measurement":"temperatures","precision":"","retentionPolicy":"","x":1090,"y":340,"wires":[]},{"id":"ff172d39.a7cca","type":"comment","z":"f8d118e1.ddd038","name":"Data storage in JsonDB ","info":"","x":400,"y":100,"wires":[]},{"id":"53f449eb.786eb8","type":"comment","z":"f8d118e1.ddd038","name":"InfluxDB: Store raw data","info":"","x":230,"y":240,"wires":[]},{"id":"7e9cb44b.d40adc","type":"function","z":"f8d118e1.ddd038","name":"INSERT data point","func":"msg.payload = {location:\"HANGAR\", room: \"Warehouse\", temperature: msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["49423bdc.9322e4","b7e150ab.b8806"]]},{"id":"dd4dd871.0552a8","type":"debug","z":"f00a487a.95faf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":320,"wires":[]},{"id":"b7e150ab.b8806","type":"influxdb out","z":"f8d118e1.ddd038","influxdb":"e221cd11.84b39","name":"","measurement":"sense_hat_simulator","precision":"","retentionPolicy":"","x":1250,"y":240,"wires":[]},{"id":"2feec98f.3ab246","type":"influxdb out","z":"f8d118e1.ddd038","influxdb":"e221cd11.84b39","name":"","measurement":"sense_hat_avg_simulator","precision":"","retentionPolicy":"","x":1250,"y":460,"wires":[]},{"id":"2a9062d2.7107de","type":"function","z":"f8d118e1.ddd038","name":"INSERT data point","func":"msg.payload = {location:\"HANGAR\", room: \"Warehouse\", temperature: msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":460,"wires":[["59744186.0e569","2feec98f.3ab246"]]},{"id":"59744186.0e569","type":"debug","z":"f8d118e1.ddd038","name":"Averaged data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":520,"wires":[]},{"id":"75dee813.4e1318","type":"link out","z":"f00a487a.95faf8","name":"Store average temperature","links":["a10d3ee8.de1d1"],"x":1155,"y":560,"wires":[]},{"id":"9cf08084.18e73","type":"throttle","z":"f8d118e1.ddd038","name":"","throttleType":"time","timeLimit":"10","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":710,"y":460,"wires":[["2a9062d2.7107de"]]},{"id":"8c777fd6.34859","type":"comment","z":"f8d118e1.ddd038","name":"InfluxDB: Store averaged data","info":"","x":220,"y":460,"wires":[]},{"id":"a10d3ee8.de1d1","type":"link in","z":"f8d118e1.ddd038","name":"IN- Store temperature","links":["75dee813.4e1318"],"x":515,"y":460,"wires":[["9cf08084.18e73"]]},{"id":"c1fe750c.3590b8","type":"debug","z":"c77ab3af.0f028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1450,"y":220,"wires":[]},{"id":"6bf41c86.2fc614","type":"inject","z":"c77ab3af.0f028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":240,"wires":[["194c38c3.afe707"]]},{"id":"194c38c3.afe707","type":"debug","z":"c77ab3af.0f028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":240,"wires":[]},{"id":"2e9ee36a.faaa9c","type":"function","z":"c77ab3af.0f028","name":"Last point","func":"const arr = msg.payload;\nmsg.payload = arr.slice(-1)[0]\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":160,"wires":[["f44bb649.e95758"]]},{"id":"106a41a9.51f01e","type":"influxdb in","z":"c77ab3af.0f028","influxdb":"ccc0b64f.610828","name":"'sense_hat' SELECT query I","query":"SELECT * FROM sense_hat","rawOutput":false,"precision":"","retentionPolicy":"","x":800,"y":120,"wires":[["eb1edf63.af0d"]]}]