Chapter 07/chapter7-balena-master/nodered/app/flows/flow0.json
[{"id":"dd125598.56b008","type":"tab","label":"Sense hat","disabled":false,"info":""},{"id":"d141ee18.59417","type":"tab","label":"Debug Pusher","disabled":false,"info":""},{"id":"d07f07b8.88f538","type":"tab","label":"global context","disabled":false,"info":""},{"id":"fee98c91.8a287","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1071f503.257ceb","type":"ui_tab","z":"","name":"Sense Hat","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fde4866f.851ff8","type":"ui_group","z":"","name":"Temperature","tab":"1071f503.257ceb","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a4e895b.be7378","type":"ui_group","z":"","name":"Humidity","tab":"1071f503.257ceb","order":2,"disp":true,"width":"6","collapse":false},{"id":"9492d025.a8517","type":"ui_group","z":"","name":"Pressure","tab":"1071f503.257ceb","order":3,"disp":true,"width":"6","collapse":false},{"id":"10c838f3.a145e7","type":"rpi-sensehatsim in","z":"dd125598.56b008","name":"","motion":false,"env":true,"stick":true,"x":300,"y":460,"wires":[["7f02c6dd.592ec8","db1b9f3c.039a","1558567d.15aa7a","d7efdc7c.28a5e","fe065cfa.d64ce"]]},{"id":"d6706e6f.164d9","type":"rpi-sensehatsim out","z":"dd125598.56b008","name":"","x":580,"y":80,"wires":[]},{"id":"6b4a9d5c.7a06b4","type":"debug","z":"dd125598.56b008","name":"Environment data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":180,"wires":[]},{"id":"344ae513.ac465a","type":"inject","z":"dd125598.56b008","name":"","topic":"","payload":"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":80,"wires":[["d6706e6f.164d9"]]},{"id":"6c8b5a67.a98fe4","type":"comment","z":"dd125598.56b008","name":"Temperature, humidity, pressure","info":"","x":270,"y":420,"wires":[]},{"id":"3ba6bec7.92b4d2","type":"comment","z":"dd125598.56b008","name":"LED matrix","info":"","x":220,"y":40,"wires":[]},{"id":"2898f700.41da8a","type":"ui_chart","z":"dd125598.56b008","name":"Temperature","group":"fde4866f.851ff8","order":1,"width":0,"height":0,"label":"ºC","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":280,"wires":[[]]},{"id":"39f62056.56cdd","type":"ui_gauge","z":"dd125598.56b008","name":"Temperature","group":"fde4866f.851ff8","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":890,"y":320,"wires":[]},{"id":"7f02c6dd.592ec8","type":"change","z":"dd125598.56b008","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["2898f700.41da8a","39f62056.56cdd","f59c148c.c319f8"]]},{"id":"db1b9f3c.039a","type":"switch","z":"dd125598.56b008","name":"event types","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":200,"wires":[["6b4a9d5c.7a06b4"],["1db58d74.3b57c3"]]},{"id":"1db58d74.3b57c3","type":"debug","z":"dd125598.56b008","name":"Joystick data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":220,"wires":[]},{"id":"bb2c5afb.492b68","type":"ui_chart","z":"dd125598.56b008","name":"Humidity","group":"9a4e895b.be7378","order":1,"width":0,"height":0,"label":"%","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":440,"wires":[[]]},{"id":"9061986e.5fd768","type":"ui_gauge","z":"dd125598.56b008","name":"Humidity","group":"9a4e895b.be7378","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":880,"y":480,"wires":[]},{"id":"1558567d.15aa7a","type":"change","z":"dd125598.56b008","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["bb2c5afb.492b68","9061986e.5fd768","9bcf270d.2665f8","7c9c123e.952f7c"]]},{"id":"5877b9bb.43f2a8","type":"ui_chart","z":"dd125598.56b008","name":"","group":"9492d025.a8517","order":1,"width":0,"height":0,"label":"mbar","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1100","removeOlder":"60","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":620,"wires":[[]]},{"id":"b1985bf9.bd8d18","type":"ui_gauge","z":"dd125598.56b008","name":"Pressure","group":"9492d025.a8517","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"mbar","format":"{{value}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":880,"y":660,"wires":[]},{"id":"d7efdc7c.28a5e","type":"change","z":"dd125598.56b008","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["5877b9bb.43f2a8","b1985bf9.bd8d18","280f3161.6ffd1e","d940e676.a22288"]]},{"id":"a0ef358d.9012c8","type":"pusher out","z":"dd125598.56b008","name":"","channel":"data_env","cluster":"eu","eventname":"env","x":570,"y":780,"wires":[]},{"id":"de1c6952.5b59a8","type":"debug","z":"dd125598.56b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":820,"wires":[]},{"id":"209f0fa.f31cdf","type":"pusher in","z":"d141ee18.59417","name":"","channel":"data_env","cluster":"eu","eventname":"env","x":390,"y":120,"wires":[["42709b1.61d5164"]]},{"id":"42709b1.61d5164","type":"debug","z":"d141ee18.59417","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":120,"wires":[]},{"id":"38c5c48.36ca93c","type":"debug","z":"dd125598.56b008","name":"temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":380,"wires":[]},{"id":"9bcf270d.2665f8","type":"debug","z":"dd125598.56b008","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":520,"wires":[]},{"id":"280f3161.6ffd1e","type":"debug","z":"dd125598.56b008","name":"pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":700,"wires":[]},{"id":"f59c148c.c319f8","type":"function","z":"dd125598.56b008","name":"save temperature","func":"global.set('temperature' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["38c5c48.36ca93c"]]},{"id":"9608d297.a12a4","type":"debug","z":"dd125598.56b008","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":560,"wires":[]},{"id":"7c9c123e.952f7c","type":"function","z":"dd125598.56b008","name":"save humidity","func":"global.set('humidity' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":560,"wires":[["9608d297.a12a4"]]},{"id":"9ee134e9.4c20e8","type":"debug","z":"dd125598.56b008","name":"pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":740,"wires":[]},{"id":"d940e676.a22288","type":"function","z":"dd125598.56b008","name":"save pressure","func":"global.set('pressure' , msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":740,"wires":[["9ee134e9.4c20e8"]]},{"id":"cd578316.1f8d5","type":"function","z":"d07f07b8.88f538","name":"get temperature","func":"msg.payload = global.get('temperature')\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["1276f1a7.7db93e"]]},{"id":"c690a31.f061c6","type":"inject","z":"d07f07b8.88f538","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":200,"wires":[["cd578316.1f8d5"]]},{"id":"1276f1a7.7db93e","type":"debug","z":"d07f07b8.88f538","name":"temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":200,"wires":[]},{"id":"51a1b0a0.2ae65","type":"debug","z":"d07f07b8.88f538","name":"humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":280,"wires":[]},{"id":"e160bb45.8e5648","type":"debug","z":"d07f07b8.88f538","name":"pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":360,"wires":[]},{"id":"592abbd4.7ea5e4","type":"function","z":"d07f07b8.88f538","name":"get humidity","func":"msg.payload = global.get('humidity')\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["51a1b0a0.2ae65"]]},{"id":"53d117b.e95e9e8","type":"inject","z":"d07f07b8.88f538","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":280,"wires":[["592abbd4.7ea5e4"]]},{"id":"abeb2bf0.4d7368","type":"function","z":"d07f07b8.88f538","name":"get pressure","func":"msg.payload = global.get('pressure')\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["e160bb45.8e5648"]]},{"id":"28871f0d.7a5e9","type":"inject","z":"d07f07b8.88f538","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":360,"wires":[["abeb2bf0.4d7368"]]},{"id":"fe065cfa.d64ce","type":"throttle","z":"dd125598.56b008","name":"","throttleType":"time","timeLimit":"1","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":410,"y":780,"wires":[["a0ef358d.9012c8","de1c6952.5b59a8"]]}]