Chapter 02/chapter2-master/app/flows/flow_solved.json
[{"id":"66fa9c9a.861bc4","type":"tab","label":"System Stats","disabled":false,"info":""},{"id":"de5f2b14.ab3bc","type":"tab","label":"Clock","disabled":false,"info":""},{"id":"e33c6820.04ee48","type":"ui_group","z":"","name":"Timeline","tab":"88c78cd7.1e2bb","order":1,"disp":true,"width":"12","collapse":false},{"id":"a8eca4.2530a36","type":"ui_group","z":"","name":"Pie charts","tab":"88c78cd7.1e2bb","order":2,"disp":true,"width":"9","collapse":false},{"id":"88c78cd7.1e2bb","type":"ui_tab","z":"","name":"Device Stats","icon":"dashboard","order":2},{"id":"fee98c91.8a287","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6e28a403.732adc","type":"ui_tab","z":"","name":"Digital Clock","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f39b162c.9e3148","type":"ui_group","z":"","name":"clock","tab":"6e28a403.732adc","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa79f97c.76c6b8","type":"ui_spacer","name":"spacer","group":"f39b162c.9e3148","order":2,"width":1,"height":1},{"id":"f0403458.234b98","type":"inject","z":"66fa9c9a.861bc4","name":"every 1 second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":130,"y":320,"wires":[["17e62aee.688135"]]},{"id":"17e62aee.688135","type":"DeviceStats","z":"66fa9c9a.861bc4","name":"","mem":true,"nw":false,"load":true,"hostname":false,"useString":false,"x":310,"y":320,"wires":[["8d5b38a0.1d8828","6c393974.aeeee8","372623ad.517fac","eb1c6360.1b8c1","9fbd1e87.6ea3b","7730e407.ac163c","813a4d54.e65d"]]},{"id":"bce8c6b6.e06ed8","type":"debug","z":"66fa9c9a.861bc4","name":"mem.free","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":160,"wires":[]},{"id":"647e459f.7d7a8c","type":"debug","z":"66fa9c9a.861bc4","name":"mem.used","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":200,"wires":[]},{"id":"a2cf2ef5.10b3e","type":"debug","z":"66fa9c9a.861bc4","name":"1min os.loadavg()","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":300,"wires":[]},{"id":"99e1d6bf.07db68","type":"debug","z":"66fa9c9a.861bc4","name":"15min os.loadavg()","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":380,"wires":[]},{"id":"5b6ffec1.26c67","type":"debug","z":"66fa9c9a.861bc4","name":"5min os.loadavg()","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":340,"wires":[]},{"id":"8d5b38a0.1d8828","type":"change","z":"66fa9c9a.861bc4","name":"1min os.loadavg()","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.load[0]*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["a2cf2ef5.10b3e"]]},{"id":"6c393974.aeeee8","type":"change","z":"66fa9c9a.861bc4","name":"5min os.loadavg()","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.load[1]*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":340,"wires":[["5b6ffec1.26c67"]]},{"id":"372623ad.517fac","type":"change","z":"66fa9c9a.861bc4","name":"15min os.loadavg()","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.load[2]*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["99e1d6bf.07db68"]]},{"id":"eb1c6360.1b8c1","type":"change","z":"66fa9c9a.861bc4","name":"% free mem","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mem.free/2366448*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["bce8c6b6.e06ed8"]]},{"id":"9fbd1e87.6ea3b","type":"change","z":"66fa9c9a.861bc4","name":"% used mem","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mem.used/2366448*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":200,"wires":[["647e459f.7d7a8c"]]},{"id":"7730e407.ac163c","type":"function","z":"66fa9c9a.861bc4","name":"MultiChart LOAD","func":"var msg1 = {};  // 1 minutes load average\nvar msg5 = {};  // 5 minutes load average\nvar msg15 = {};  // 15 minutes load average\n\nmsg1.topic = '1 min';\nmsg1.payload = msg.payload.load[0]*100;\n\nmsg5.topic = '5 min';\nmsg5.payload = msg.payload.load[1]*100;\n\nmsg15.topic = '15 min';\nmsg15.payload = msg.payload.load[2]*100;\n\nreturn [msg1,msg5,msg15];","outputs":3,"noerr":0,"x":590,"y":500,"wires":[["5c39776a.0db9e8","bbdde610.848918"],["5c39776a.0db9e8"],["5c39776a.0db9e8"]]},{"id":"5c39776a.0db9e8","type":"ui_chart","z":"66fa9c9a.861bc4","name":"","group":"e33c6820.04ee48","order":2,"width":0,"height":0,"label":"Avg load %","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"400","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":500,"wires":[[]]},{"id":"813a4d54.e65d","type":"function","z":"66fa9c9a.861bc4","name":"MultiChart MEM","func":"var msg1 = {};  // Free RAM\nvar msg2 = {};  // Used RAM\n\nmsg1.topic = 'FREE mem';\nmsg1.payload = msg.payload.mem.free/2366448*100;\n\nmsg2.topic = 'USED mem';\nmsg2.payload = msg.payload.mem.used/2366448*100;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":580,"y":100,"wires":[["d6b08817.910888","654d0466.2a889c"],["d6b08817.910888","654d0466.2a889c"]]},{"id":"d6b08817.910888","type":"ui_chart","z":"66fa9c9a.861bc4","name":"","group":"a8eca4.2530a36","order":1,"width":0,"height":0,"label":"RAM pie","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":100,"wires":[[]]},{"id":"654d0466.2a889c","type":"ui_chart","z":"66fa9c9a.861bc4","name":"","group":"e33c6820.04ee48","order":1,"width":0,"height":0,"label":"RAM %","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":60,"wires":[[]]},{"id":"bbdde610.848918","type":"ui_gauge","z":"66fa9c9a.861bc4","name":"1 min. average","group":"a8eca4.2530a36","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"Load % (1 min.)","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":820,"y":540,"wires":[]},{"id":"7d28b87e.6db5c","type":"inject","z":"de5f2b14.ab3bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":160,"wires":[["a3c4572c.b7938","62208c58.49eaf4","7a3032e2.037edc"]]},{"id":"a3c4572c.b7938","type":"debug","z":"de5f2b14.ab3bc","name":"UNIX time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":160,"wires":[]},{"id":"62208c58.49eaf4","type":"moment","z":"de5f2b14.ab3bc","name":"Date","topic":"localtime","input":"payload","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd Do MMM YYYY","locale":"en_GB","output":"","outputType":"msg","outTz":"Europe/Madrid","x":410,"y":240,"wires":[["461ce45e.5d5e3c","2e695ea5.632902"]]},{"id":"b3313774.1b0fd8","type":"moment","z":"de5f2b14.ab3bc","name":"Calendar","topic":"localtime","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"calendar","locale":"en_GB","output":"","outputType":"msg","outTz":"Europe/Madrid","x":380,"y":680,"wires":[["e4fa6ac7.572708"]]},{"id":"461ce45e.5d5e3c","type":"debug","z":"de5f2b14.ab3bc","name":"Date","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":240,"wires":[]},{"id":"294109f2.5d38c6","type":"debug","z":"de5f2b14.ab3bc","name":"Calendar","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":680,"wires":[]},{"id":"7a3032e2.037edc","type":"moment","z":"de5f2b14.ab3bc","name":"Time","topic":"localtime","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"en_GB","output":"","outputType":"msg","outTz":"Europe/Madrid","x":410,"y":340,"wires":[["d617f189.6d971","9f967571.c18ff8"]]},{"id":"d617f189.6d971","type":"debug","z":"de5f2b14.ab3bc","name":"Time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":340,"wires":[]},{"id":"e4fa6ac7.572708","type":"function","z":"de5f2b14.ab3bc","name":"last 5 char","func":"var time = msg.payload.slice(-5);\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":680,"wires":[["294109f2.5d38c6"]]},{"id":"2e695ea5.632902","type":"ui_text","z":"de5f2b14.ab3bc","group":"f39b162c.9e3148","order":1,"width":0,"height":0,"name":"","label":"Date","format":"<font size=6>{{msg.payload}}","layout":"col-center","x":710,"y":280,"wires":[]},{"id":"9f967571.c18ff8","type":"ui_text","z":"de5f2b14.ab3bc","group":"f39b162c.9e3148","order":3,"width":0,"height":0,"name":"","label":"Time","format":"<font size=6>{{msg.payload}}","layout":"col-center","x":710,"y":380,"wires":[]}]